/* Colors: */
$primary: #006ba1;
$text-color: #212121;
$text-color-light: #ffffff;
$bg-primary: #ffffff;
$bg-secondary: #e6e6e6;

/* Font-size */

$text-s: 1.4rem;
$text-m: 1.8rem;
$text-l: 2rem;
$text-xl: 2.4rem;
$text-xxl: 4rem;
