.footer {
  background-color: $primary;
  padding: 3rem 2rem;

  &ContentWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

    @include calcPaddingLeft;
    @include calcPaddingRight;
  }
}
