.main {
  @include calcMaxWidth;
  min-height: calc(100% - 29rem);
  height: auto;
  margin: 5rem auto 0 auto;
  padding: 0 2rem;
  overflow: hidden;

  &GridWrapper {
    /* border: 1px solid red; */
    min-width: 100%;
    @include calcPaddingLeft;
  }

  &Caption {
    width: max-content;
    position: relative;
    border-bottom: 50%;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 50%;
      height: 0.3rem;
      background-color: $primary;
    }
  }
}
