.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user {
  position: relative;
  width: 230px;
  height: 300px;
  & h2 {
    font-size: 24px;
  }
}

.postDescktop {
  position: relative;
  width: 100%;
  height: max-content;
  background-color: grey;
  @media only screen and(max-width:400px) {
    display: none;
  }
}
