/* Styles For Sweet Alert Components */
.popup {
  width: 47rem;
  border-radius: 0px;
  padding: 5rem;

  @include viewport("tab-port") {
    padding: 2rem;
  }

  &Content {
    padding: 0px;
  }

  &CloseBtn {
    @include size(max-content);
    border: 0px;
    outline: none;
    top: 20px;
    right: 20px;

    &:focus {
      box-shadow: none;
    }
  }
}

/* Styles For Custom Popup Components*/

.popupUser {
  width: 100%;
  margin-bottom: 5rem;

  @include viewport("tab-port") {
    &Image {
      @include size(12rem);
    }
  }

  &InfoContainer {
    width: 100%;
    margin-left: 2rem;

    @include viewport("tab-port") {
      margin-left: 0rem;
      margin-top: 3rem;
    }
  }

  &Info {
    margin-bottom: 2rem;
    @include viewport("tab-port") {
      margin-bottom: 4rem;
    }
  }

  &FullName {
    margin-bottom: 0.5rem;
  }
  &Name {
    margin-bottom: 0.5rem;
  }
}

.popupUserContact {
  margin-bottom: 3rem;
}
