/* Animation */
@keyframes showPost {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes hidePost {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.postWrapper {
  width: 100%;
  margin: 2rem 0 6rem 0;
  position: relative;

  @include calcPaddingRight;

  @include viewport("tab-port") {
    margin: 2rem 0 0 0;
  }
}

.post {
  opacity: 1;
  position: relative;
  background-color: $bg-secondary;

  height: 100%;
  padding: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  animation-name: showPost;
  animation-duration: 1s;

  @include viewport("tab-port") {
    background-color: $bg-primary;
    padding: 0rem;
    border-radius: 0rem;
    animation-name: none;
    animation-duration: none;
  }

  &Hide {
    height: 0%;
    animation-name: hidePost;
    animation-duration: 1s;
  }

  &AuthorName {
    position: relative;
    margin-bottom: 2rem;
    &::after {
      position: absolute;
      content: "";
      width: 5.5rem;
      height: 0.2rem;
      background-color: $primary;
      left: 0;
      bottom: 0;
    }
  }
  &Caption {
    margin-bottom: 3rem;
  }
  &Paragraph {
    margin-bottom: 3rem;
  }
}
