.user {
  position: relative;
  margin-bottom: 4rem;
  width: 16.6%;
  box-sizing: border-box;
  /* border: 1px solid blue; */

  @include viewportAt(1434px) {
    width: 19.9%;
  }
  @include viewportAt(1211px) {
    width: 24.9%;
  }
  @include viewportAt(970px) {
    width: 33.3%;
  }
  @include viewportAt(768px) {
    width: 50%;
  }
  @include viewportAt(414px) {
    width: 100%;
  }

  &Inner {
    /* border: 1px solid grey; */
    width: 230px;
    height: 100%;
  }

  &ImageWrapper {
    margin: 0 auto;
    @include size(15rem);
    margin-bottom: 2rem;
  }
  &Name {
    margin-bottom: 0.5rem;
  }
  &Mail {
    margin-bottom: 4rem;
  }
}
